.green{
    background-color:#6fb936;
}
.aquamarine {
    background-color: aquamarine;
}
.aqua {
    background-color: aqua;
}
.antiquewhite {
    background-color: antiquewhite;
}
.azure {
    background-color: azure;
}
.beige {
    background-color: beige;
}
.bisque {
    background-color: bisque;
}
.blanchedalmond {
    background-color: blanchedalmond;
}
.bisque {
    background-color: bisque;
}